.wbdv-sticky-header {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    padding:10px;
}

body {
    padding-top: 85px;
}

.wbdv-hamburger {
    color: white;
    vertical-align: middle;
}

.wbdv-new-course {
    margin-bottom: 0px;
}

.wbdv-sticky-add-course {
    color: red;
    position: fixed;
    bottom: 25px;
    right: 50px;
}

.wbdv-delete {
    width:15%
}

.wbdv-owner {
    width:15%
}

.wbdv-modified-date {
    width:20%
}

.wbdv-icon {
    margin-right: 10px;
}

